
 
<% content_for :titles do %>

 <title>Поиск по дебетовым картам онлайн | RefreshBank</title>

 <%end%>
<% canonical (debitcards_url) %>
  
<body id="products-page">

 <header class="navbar navbar-default navbar-static-top" role="banner">
 
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img title="RefreshBank" src="/img/logo2.svg" alt="RefreshBank дебетовые карты">
</a>    </div>

    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
      

  
        <li><%= link_to 'Кредитные карты', creditcards_path %></li>
      <li><%= link_to 'Микрокредиты и займы', microcredits_path %></li>
        <li><%= link_to 'Дебетовые карты', debitcards_path %></li>
       
        
      </ul>
    </nav>
  </div>
</header>


<div id="content-wrapper">
      
  <div class="head">
   <h1>Поиск по дебетовым картам</h1>

   <div class="social-icons">
        <ul class="social-icons__ul">
          <li class="social-icons__li">
            <a class="social-icons__a social-icons__facebook" href="https://www.facebook.com/sharer/sharer.php?u=www.refreshbank.ru/debitcards" target="_blank">
              <i class="social-icons__icon fa fa-facebook"></i>
            </a>
          </li>
          <li class="social-icons__li">
            <a class="social-icons__a social-icons__twitter" href="https://twitter.com/home?status=www.refreshbank.ru/debitcards" target="_blank">
              <i class="social-icons__icon fa fa-twitter"></i>
            </a>
          </li>
          <li class="social-icons__li">
            <a class="social-icons__a social-icons__google" href="https://plus.google.com/share?url=www.refreshbank.ru/debitcards" target="_blank">
              <i class="social-icons__icon fa fa-google-plus"></i>
            </a>
          </li>
          <li class="social-icons__li">
            <a class="social-icons__a social-icons__vk" href="http://vkontakte.ru/share.php?url=http://www.refreshbank.ru/debitcards&title=RefreshBank.ru" target="_blank">
              <i class="social-icons__icon fa fa-vk"></i>
            </a>
          </li>
        </ul>
      </div>
 </div>

 
<div id="filters">

    <h2>Расширенный поиск &nbsp;&nbsp;<span class="results-count-holder">114</span><span class="results-updated-indicator">результаты обновлены</span></h2>


<div class="filter">
      <label>Валюта:</label><br>
    <select name="currency" id="currency"><option value="">РУБ</option>
 </select>
    </div> 






    <div class="filter">
      <label>Банки:</label><br>
     <%= select_tag 'bank', options_for_select(Debitcard.select(:bank).collect{ |u| [u.bank, u.bank.gsub(/[^0-9A-Za-zа-я]+/, "")] }.uniq) ,prompt: "Все" %>
    </div> 

  


  
  
    <div class="knobs">
      <label><input type="checkbox" name="interestbalance"> Проценты на остаток</label>
 
      &nbsp; &nbsp; &nbsp;
      
       <label><input type="checkbox" name="cashback"> Cash Back</label>
 

      </div>
<br><br><br><br><br>
  
 

<p class="reset-filters">сброс фильтров</p>

</div>

<div id="products">
    <table  id="miyazaki" class="product-table sortable" border="0">
      <colgroup>
        <col span="1" style="width: 300px">
      </colgroup>
  <thead>
    <tr>
      <th class="sorttable_alpha " rel="tooltip" title="Название дебетовой карты и банка" > Название & Тип карты</th>  
      <th class="{sorter: 'digit'}" rel="tooltip" title="Нажмите для сортировки по процентному остатку">Проценты <br>на остаток</th>
       <th class="{sorter: 'digit'}" rel="tooltip" title="Стоимость годового обслуживания">Годовое<br>обслуживание</th>
      <th class="sorttable_alpha" rel="tooltip" title="Наличие Сash Back">Cash Back</th>
    
    
     <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @debitcards.each do |debitcard| %>
    <tr
            bank ="<%= debitcard.bank.gsub(/[^0-9A-Za-zа-я]+/, "")    %>" 
          
            interestbalance =<% if debitcard.interestbalance != "" %>"true"<%else%>"false"<%end%>  
                        cashback ="<%= debitcard.cashback   %>"
          currency="РУБ"  
          >

     <td>
  <span class="wrap">
                <img class="bank-logo" src="<%= debitcard.img %>" alt="Кредитная карта <%= debitcard.typecard %> в <%= debitcard.bank %>">
                <%= link_to(debitcard) do %>
                 <span class="title"><%=  debitcard.typecard %></span></a>
              </span>
            <small><%= debitcard.bank %> </small>
              <% end %> 
               </td>


         <td><%if debitcard.interestbalance == "" %>-<%else%> <%= debitcard.interestbalance %><%end%></td>
         <td><%if debitcard.yearpay.to_i >= 0%>
         <%= debitcard.yearpay.to_s.reverse.gsub(/...(?=.)/,'\&,').reverse %><%else%><%= debitcard.yearpay%><%end%></td>
         <td><% if debitcard.cashback == true %>есть<%else%>нет<%end%></td>
      
   <td class="apply">
        
          
    <%= link_to 'Подробнее', debitcard %>

       
        </td>


      </tr>  
        

    <% end %>
  </tbody>
</table>
<div class="no-results-found" style="display: block;">Мы не смогли найти дебетовую карту, которая удовлетворяет вашим условиям :(</div>

<script> 
var headertext = [],
headers = document.querySelectorAll("#miyazaki th"),
tablerows = document.querySelectorAll("#miyazaki th"),
tablebody = document.querySelector("#miyazaki tbody");

for(var i = 0; i < headers.length; i++) {
  var current = headers[i];
  headertext.push(current.textContent.replace(/\r?\n|\r/,""));
} 
for (var i = 0, row; row = tablebody.rows[i]; i++) {
  for (var j = 0, col; col = row.cells[j]; j++) {
    col.setAttribute("data-th", headertext[j]);
  } 
}

</script>

</div>
</div>
<br>
 
</body>




 