<link rel="shortcut icon" href="img/favicon.ico">
 
<% content_for :titles do %>

 <title>Кредитная карта <%= @creditcard.banktype %> в <%= @creditcard.bank %> | RefreshBank</title>

 <%end%>

 <% canonical (creditcard_url(@creditcard)) %>
 <% meta_tag :description, strip_tags(@creditcard.description).split[0...30].join(' ') %>
<% meta_tag :keywords, @creditcard.bank.to_s + "," +  @creditcard.banktype.to_s %>


<body id="product-detail-page">

 

 <header class="navbar navbar-default navbar-static-top" role="banner">
 
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img title="RefreshBank" src="/img/logo2.svg" alt="RefreshBank займы онлайн">
</a>    </div>

    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Кредитные карты', creditcards_path %></li>
        
        <li><%= link_to 'Микрокредиты и займы', microcredits_path %></li>
        <li><%= link_to 'Дебетовые карты', debitcards_path %></li>
        
      </ul>
      <!-- <ul class="nav navbar-nav navbar-right">
       
<li><a href="/">Регистрация</a></li>
      </ul> -->
    </nav>
  </div>
</header>
     

 
<div id="content-wrapper">
      
  <div class="head">
   <img class="product-logo" src="<%= @creditcard.image_full %>" alt="Кредитная карта <%= @creditcard.banktype %> в <%= @creditcard.bank %>">

  <h1>
  <%= @creditcard.banktype %>
 
 <small><small>от </small> <%= @creditcard.bank %></small>




  </h1>
  <p>
<%= link_to '<< Все кредитные карты', creditcards_path %>
</p>
 
</div>


<div class="left-content">
    <table class="main-details-grid">
      <colgroup>
        <col span="1" style="width: 33.33333%">
        <col span="1" style="width: 33.33333%">
        <col span="1" style="width: 33.33333%">
      </colgroup>
      <tbody><tr>
        <td>
          <em><%if @creditcard.freeperiod.to_i > 0 %>до <%= @creditcard.freeperiod %> дней<%else %>-<%end%></em>
          Льготный период
        </td>
        
        
       <td>

          <em><%= @creditcard.minimalpay %><% if @creditcard.minimalpay.to_i > 0 %>%<%end%> <small> <%= @creditcard.currency %> </small></em>
          Минимальный платеж
        </td>
      </tr>
      <tr>
       <td>
          <em><%= @creditcard.stavka %>%</em>
         Ставка
        </td>
        <td>
          <em>  <%= @creditcard.creditlimit %> РУБ<small>  <%= @creditcard.currency %> </small></em>
          Кредитный лимит
        </td>
        <td class="monthly-payments" style="display: none">
          <em><span class="monthly-payments-holder">0</span> <small>AED</small></em>
          Est. Monthly payments
        </td>
      </tr>
    </tbody></table>
    </div>



<div class="details-on-the-side">
    <table>
      <tbody><tr>
        <td>Банк</td>
        <td><%= @creditcard.bank %></td>
      </tr>
      <tr>
        <td>Категория карты</td>
        <td><%= @creditcard.categorycard %></td>
      </tr>
      <tr>
        <td>Использование собственных средств</td>
        <td><%= @creditcard.moneyusage %></td>
      </tr>
     <!--  <tr>
        <td>Бонусы</td>
        <td><%= @creditcard.bonus %></td>
      </tr>
      <tr>
        <td>Подтверждение дохода</td>
        <td> <%= @creditcard.payapprove %></td>
      </tr> -->
        <td>Проценты на остаток</td>
        <td><% if @creditcard.interestbalance  %> Да
        <% else %>Нет
        <%end%>
</tr>
<tr>
        <td>Cash Back</td>
        <td> 
<% if @creditcard.cashback  %> Да
        <% else %>Нет
        <%end%>



        </td>
      </tr>
            <tr>
        <td>Бесплатный выпуск карты</td>
        <td><% if @creditcard.freemade  %> Да
        <% else %>Нет
        <%end%>


        </td>
      </tr>
        <tr>
        <td>Бесплатное обслуживание</td>
        <td>
       
<% if @creditcard.freeservice   %> Да
        <% else %>Нет
        <%end%>

        </td>
      </tr>

  <tr>
        <td>Бесплатные СМС</td>
        <td>
       <% if @creditcard.freesms  %> Нет
        <% else %>Да
        <%end%>

        </td>
      </tr>

    </tbody></table>

     
  </div>
<div class="left-content">
    <h3>Особенности</h3>
    <p></p>

    <%= raw @creditcard.description %>

   




    <p></p>
   </div>




<%if @creditcard.site.nil? == true %>

  <div id="request-callback">
                <div class="wrap">
<h2>Онлайн заявка</h2>
<p>Введите Ваш Email и мы вышлем Вам уведомление когда онлайн заявка будет доступна.</p>
                    <%= form_for @subscriber, :html => {:class => 'bank-contact-form'},  remote: true do |f|  %>
                  <div>
                       <%= f.text_field :email, placeholder: 'Введите ваш Email'%>
  </div>
       <%= f.submit 'Подтвердить' ,:class => "massive-button", type: "submit", style:"width:100%" %>
 
  <% end %>
 

             <% elsif  @creditcard.site.nil? == false and @creditcard.site != "" %>
            
 <div id="request-callback">
                <div class="wrap">
     <%= link_to 'Оформить заявку', @creditcard.site , class: "massive-button", style:"width:100%" %>
       <% end %>
      
</div>
        </div>






</div>
 </div>
 
</body>

