 
<% content_for :titles do %>

 <title>Микрокредит <%= @microcredit.microtype %> в <%= @microcredit.microcreditorg %> | RefreshBank</title>

 <%end%>
<body id="product-detail-page">
 

 <header class="navbar navbar-default navbar-static-top" role="banner">
 
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
       <img title="RefreshBank" src="/img/logo2.svg" alt="RefreshBank займы онлайн">
</a>    </div>

    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Кредитные карты', creditcards_path %></li>
        <li><%= link_to 'Микрокредиты и займы', microcredits_path %></li>
        <li><%= link_to 'Дебетовые карты', debitcards_path %></li>
      </ul>
  <!--     <ul class="nav navbar-nav navbar-right">
       
<li><a href="/">Регистрация</a></li>
      </ul> -->
    </nav>
  </div>
</header>
     

 
<div id="content-wrapper">
      
  <div class="head">
      <% if @microcredit.image != "" and @microcredit.image.nil? == false %>


   <img class="product-logo" src="<%= @microcredit.image %>" alt="Микрокредит <%= @microcredit.microtype %> в <%= @microcredit.microcreditorg %>">
   
<%end%>
  <h1>
  <%= @microcredit.microtype %>
 
 <small><small>от </small> <%= @microcredit.microcreditorg %></small>


  </h1>
  <p>
<%= link_to '<< Все микрокредиты', microcredits_path %>
</p>
 
</div>


<div class="left-content">
    <table class="main-details-grid">
      <colgroup>
        <col span="1" style="width: 33.33333%">
        <col span="1" style="width: 33.33333%">
        <col span="1" style="width: 33.33333%">
      </colgroup>
      <tbody>
      <tr>
       <td>
          <em><%= @microcredit.maxsum %> РУБ</em>
         Максимальная сумма
        </td>
        <td>
          <em><%= @microcredit.minstavka %> в день</em>
        Минимальная ставка
        </td>
        <tr>
        
        <td>

          <em><%= @microcredit.maxsrok %> </em>
          Максимальный срок
        </td>
        <td>
          <em> <%= @microcredit.pogawenie %> </em>
          Порядок погашения
        </td>
        
      </tr>
        <td class="monthly-payments" style="display: none">
          <em><span class="monthly-payments-holder">0</span> <small>AED</small></em>
          Est. Monthly payments
        </td>
      </tr>
    </tbody></table>
    
</div>



<div class="details-on-the-side">
    <table>
      <tbody><tr>
        <td>Микрофинансовая организация</td>
        <td><%= @microcredit.microcreditorg %></td>
      </tr>
      <tr>
        <td>Цель займа</td>
        <td><%= @microcredit.goal %></td>
      </tr>
    
      <tr>  
        <td>Возраст заемщика</td>
        <td><%= @microcredit.vozrast  %> </td>  
      </tr>
      
        <td>Срок выдачи</td>
        <td><%= @microcredit.srokvid  %> </td>  
      </tr>
        <tr>  
        <td>Оформление займа</td>
        <td><%= @microcredit.oformlen  %> </td>  
      </tr>
    

 

    </tbody></table>

     
  </div>


<div class="left-content">
    <h3>Особенности</h3>
    <p></p>
<b>Сумма: </b><%= @microcredit.summzaim%><br>
<b>Ставка: </b><%= @microcredit.stavkam %><br>
<b>Срок: </b><%= @microcredit.srokm %><br>
   <b>Регистрация: </b><%= @microcredit.registration  %><br> 
     
        <b>Форма выдачи: </b><%= @microcredit.formavid  %>  <br>
<b>Необходимые документы: </b><%= @microcredit.documents  %> <br>
  <b>Обеспечение: </b><%= @microcredit.obespechenie %><br>
<b>Способ оплаты: </b>     <%= @microcredit.paymethod  %> <br>
<b>Порядок погашения: </b><%= @microcredit.poryadpogaw%><br>
  
        <b>Досрочное погашение: </b> <%= @microcredit.dosrpogaw %>  <br>
<b>Требование к заемщику: </b><%= @microcredit.zaemcategory%>

    <p></p>
  </div>



<%if  @microcredit.site.nil? == true %>
  <div id="request-callback">
                <div class="wrap">
<h2>Онлайн заявка</h2>
<p>Введите Ваш Email и мы вышлем Вам уведомление когда онлайн заявка будет доступна.</p>
                    <%= form_for @subscriber, :html => {:class => 'bank-contact-form'},  remote: true do |f|  %>
                  <div>
                       <%= f.text_field :email, placeholder: 'Введите ваш Email'%>
  </div>
       <%= f.submit 'Подтвердить' ,:class => "massive-button", type: "submit", style:"width:100%" %>
 
  <% end %>
 

            <% elsif  @microcredit.site.nil? == false and @microcredit.site != "" %>
            
 <div id="request-callback">
                <div class="wrap">
     <%= link_to 'Оформить заявку', @microcredit.site , class: "massive-button", style:"width:100%" %>
       <% end %>
      
</div>
        </div>


 

</div>
  </div>

</body>
